# Uso do Fortran em um notebook!

Cada célula é compilada e roda separadamente, ou seja, cada uma deve ser um único programa, não há com rodar partes separadas de um código fortran.

O primeiro exemplo, roda bem

In [2]:
program primeiro
    implicit none
    print*, "O Jupyter notebook é Fantástico"
end program

 O Jupyter notebook é Fantástico

Entretanto esse o segundo não muito:

In [3]:
subroutine ola
    print*, "Ola, Será que faz alguma coisa?"
end subroutine

/usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/crt1.o: na função `_start':
(.text+0x20): referência indefinida para `main'
collect2: error: ld returned 1 exit status
[Fortran kernel] gfortran exited with code 1, the executable will not be executed

É possível usar funções:

In [4]:
program test
    implicit none
    integer :: x

    x = 7
    
    write(*, '(a,i4)') "x   =", x
    write(*, '(a,i4)') "x^2 =", quad(x)
    
contains

    integer function quad(numero)
        integer, intent(in) :: numero
        quad = numero * numero
    end function
    
end program test

x   =   7
x^2 =  49

Pode-se usar os módulos! Entretanto eles devem estar na mesma célula do programa principal para que possam ser compilado juntos. Veja o exemplo

In [5]:
module funcs

    implicit none
    
contains

    integer function quad(numero)
        integer, intent(in) :: numero
        quad = numero * numero
    end function
    
end module funcs

program test
    
    use funcs

    implicit none
    integer :: x
    
    x = 7
    
    write(*, '(a,i4)') "x   =", x
    write(*, '(a,i4)') "x^2 =", quad(x)
    
end program test

x   =   7
x^2 =  49

A seguir vamos rodar um programa Fortran 90/95/2003 que fz uso dos ponteiros

In [6]:
PROGRAM teste_point
  IMPLICIT NONE
  REAL, TARGET  :: x, y, a=3.0, b=5.0
  REAL, POINTER :: p1, p2, p3
  CHARACTER(len=40) :: fmt0
 10 FORMAT(3(a3,f6.2,2x),3(a4,f6.2,2x))
  fmt0='(3(a3,f6.2,2x),3(a4,f6.2,2x))'

  ALLOCATE ( p1, p2, p3 )

  x = 7.0;          y = 11.0

  PRINT*, "Os valores iniciais das variaveis sao:"
  PRINT fmt0, 'a = ', a, 'x=',x,' y=',y, ' p1=',p1,' p2=',p2, ' p3=',p3
  PRINT *

  p2 => y; p3=> a
  PRINT *, "Agora p2=>y e p3=>a assim temos que:"
  PRINT 10, 'a = ', a, 'x=',x,' y=',y, ' p1=',p1,' p2=',p2, ' p3=',p3
  PRINT*

  p1 => p2;  a= y - b
  PRINT *, "Agora a=y-b e p1=>p2 assim temos que:"
  PRINT fmt0, 'a = ', a, 'x=',x,' y=',y, ' p1=',p1,' p2=',p2, ' p3=',p3
  PRINT*

  p1 = 1
  PRINT *, "Agora p1=1 assim temos que:"
  PRINT fmt0, 'a = ', a, 'x=',x,' y=',y, ' p1=',p1,' p2=',p2, ' p3=',p3
  PRINT*

  y = a*b; p3=y/3.0
  PRINT *, "Agora y=a*b e p3=y/3.0 assim temos que:"
  PRINT fmt0, 'a = ', a, 'x=',x,' y=',y, ' p1=',p1,' p2=',p2, ' p3=',p3
  PRINT*

  NULLIFY(p2)

  PRINT *, "Agora NULLIFY(p2)  assim temos que:"
  PRINT *, 'a = ', a, 'x=',x,' y=',y,' p1=',p1, ' p3=',p3
  PRINT*

  y = a/b; 
  PRINT *, "Agora y=a/b e p3=y/3.0 assim temos que:"
  PRINT *, 'a = ', a, 'x=',x,' y=',y,' p1=',p1, ' p3=',p3
  PRINT*

  p1=> p2
  PRINT *, "Agora p1=>p2  Nesse caso e equivalente a nullify(p1)"
  if ( associated(p1) ) then
     PRINT *, 'a = ', a, 'x=',x,' y=',y,' p1=',p1, ' p3=',p3
  else
     PRINT *, 'a = ', a, 'x=',x,' y=',y,' p3=',p3
  endif
  PRINT*


  STOP
END PROGRAM teste_point

 Os valores iniciais das variaveis sao:
a =  3.00   x=  7.00   y= 11.00   p1=******   p2=******   p3=******

 Agora p2=>y e p3=>a assim temos que:
a =  3.00   x=  7.00   y= 11.00   p1=******   p2= 11.00   p3=  3.00

 Agora a=y-b e p1=>p2 assim temos que:
a =  6.00   x=  7.00   y= 11.00   p1= 11.00   p2= 11.00   p3=  6.00

 Agora p1=1 assim temos que:
a =  6.00   x=  7.00   y=  1.00   p1=  1.00   p2=  1.00   p3=  6.00

 Agora y=a*b e p3=y/3.0 assim temos que:
a = 10.00   x=  7.00   y= 30.00   p1= 30.00   p2= 30.00   p3= 10.00

 Agora NULLIFY(p2)  assim temos que:
 a =    10.0000000     x=   7.00000000      y=   30.0000000      p1=   30.0000000      p3=   10.0000000

 Agora y=a/b e p3=y/3.0 assim temos que:
 a =    10.0000000     x=   7.00000000      y=   2.00000000      p1=   2.00000000      p3=   10.0000000

 Agora p1=>p2  Nesse caso e equivalente a nullify(p1)
 a =    10.0000000     x=   7.00000000      y=   2.00000000      p3=   10.0000000